{% extends 'base.html.twig' %}

{% block title %}
  A propos
{% endblock %}
{% block body %}
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-lg-5">
        <img class="img-fluid" src="https://img.freepik.com/vecteurs-libre/illustration-poke-dessine-main_23-2149266936.jpg?w=740&t=st=1701611250~exp=1701611850~hmac=e0f1422018cd69cb19b688f0c18ba6a7394f84afd10b4bb7d17a0ece20e350d9" alt="" />
      </div>
      {# <div class="col-lg-1"></div> #}
      <div class="col-lg-7">
        <h1>A propos de nous</h1>
        <p>
          Chez Poké PARADISE, notre passion pour la cuisine fusion s'unit à notre amour pour la fraîcheur et la diversité des saveurs. Inspirés par la tradition hawaïenne du poké, nous avons créé un lieu où l'excellence culinaire rencontre la créativité. <br /> <br />
          Notre mission est simple : offrir à nos clients une expérience gustative inoubliable à chaque bouchée. Nous sélectionnons avec soin les ingrédients les plus frais, des poissons de qualité supérieure aux légumes croquants, pour composer des bols de poké personnalisés, équilibrés et délicieux. Nous croyons en l'importance de la durabilité, c'est pourquoi nous nous engageons à travailler avec des fournisseurs locaux autant que possible, tout en respectant les normes élevées de qualité. <br /> <br />
          Notre engagement envers la qualité est inébranlable. Nous travaillons en étroite collaboration avec des pêcheurs et des fournisseurs locaux pour garantir la fraîcheur et l'authenticité de chaque ingrédient. Des poissons de première qualité, des légumes croquants et des assaisonnements artisanaux, tous soigneusement sélectionnés pour créer des bols de poké savoureux et équilibrés, reflétant notre engagement envers l'excellence. <br /> <br />
          Chez Poké PARADISE, chaque bol est une histoire, une fusion d'arômes qui transporte nos clients vers un paradis de saveurs exquises. <br /> <br />
        </p>
      </div>
    </div>
  </div>
{% endblock %}
