{% extends 'base.html.twig' %}

{% block title %}
  Bienvenue !
{% endblock %}

{% block body %}
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100" style="
          background-image: url('https://media.istockphoto.com/id/1439349188/fr/photo/ensemble-de-poke-bowl-hawa%C3%AFen-thon-saumon-crevettes-%C3%A0-lavocat-mangue-radis-riz-et-autres.jpg?s=2048x2048&w=is&k=20&c=16MdwetA2tD-CeZqmdqTjAWCjlGc7Jmhye1bavDtwUo=');
        ">
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div>
    <!-- Intro -->
  </section>
{% endblock %}
